body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}

main {
    flex: 1 0 auto;
}

.admin-header, main, .admin-footer{
    padding-left: 240px;
}

a.button-collapse.top-nav.full {
    line-height: 122px;
}
#logo-container{
    color: #000;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    height: 64px;
    line-height: 64px;
}

.bold > a {
    font-weight: bold;
}

nav .brand-title {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    position: absolute;
}

.collection{
    overflow: visible;
}

ul.side-nav.fixed li.logo {
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    text-align: center;
}

.side-nav .collapsible-header {
    background-color: transparent;
    border: medium none;
    height: auto;
    line-height: inherit;
    margin: 0 1rem;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    height: 44px;
    line-height: 44px;
}

#img-perfil{
    margin-top: 17px;
    margin-left: 5px;
}

#text-gravatar{
    margin-top: -6px;
    margin-left: 5px;
}
nav .dropdown-button{
    max-width: 250px;
    text-overflow: ellipsis; 
}

.section.perfil input:disabled{
    color: rgba(0, 0, 0, 0.54);
}
#btn-alterar-senha{
    margin-left: -40px;
}

#btn-cancelar-perfil{
    margin-right: 10px;
    background-color: #ffffff;
    color: #212121;
}

#btn-cancelar-senha{
    margin-left: 10px;
}

.btn-save{
    /*background-color: #215BFF;*/
    background-color: #3B84C2;
}

.btn-save:focus, .btn-save:hover{
    background-color: #4070F9;
}


.inline-header{
    display: inline-block;
}
.dropdown-content{
    z-index: 2;
}

a.button-collapse.top-nav {
    color: #fff;
    float: none;
    font-size: 32px;
    height: 48px;
    left: 7.5%;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
    z-index: 2;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}

#lista-grupos{
    margin-top: 40px;
}

@media only screen and (max-width: 992px) {
    .admin-header, main, .admin-footer {
        padding-left: 0;
    }
    nav .brand-title{
        margin-left: 100px;
    }
    #btn-editar-perfil{
        margin-top: 20px;
    }
    #btn-cancelar-perfil{
        margin-top: 10px;
        margin-right: -9px;
    }
}